.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.flexx{
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingBodyBefore{
  height: 100vh;
  overflow-y: hidden;
}

.landingBodyAfter{
  height: 300vh;
  overflow-y: hidden;
}

.landingBody{
  width: 100%;
  margin: 0;
  border: 0;
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  .professionalDiv{
    position: absolute;
    height: 100vh;
    width: 50%;
    right: 0px;
    z-index: 2;
    background-color: #29B6F6;
    cursor: pointer;

    &:hover{
      background-color: #4FC3F7;
    }
  }
  .personalDiv{
    position: absolute;
    height: 100vh;
    width: 50%;
    left: 0px;
    z-index: 2;
    background-color: #29B6F6;
    cursor: pointer;
    &:hover{
      background-color: #4FC3F7;
    }
  }


.cloud{
  position: absolute;
  left: 0px;
  -webkit-animation: moveAcross 40s linear infinite;
  -o-animation: moveAcross 40s linear infinite;
  -mox-animation: moveAcross 40s linear infinite;
  animation: moveAcross 40s linear forwards infinite;
  z-index: 3;
}

.personalDivTransition{
  -webkit-animation: landingTransitionLeft 1s linear forwards;
  -o-animation: landingTransitionLeft 1s linear forwards;
  -mox-animation: landingTransitionLeft 1s linear forwards;
  animation: landingTransitionLeft 1s linear forwards forwards;
}
.professionalDivTransition{
  -webkit-animation: landingTransitionRight 1s linear forwards;
  -o-animation: landingTransitionRight 1s linear forwards;
  -mox-animation: landingTransitionRight 1s linear forwards;
  animation: landingTransitionRight 1s linear forwards forwards;
}
.landingSVGTransition{
  -webkit-animation: landingSVGTransition 1s linear forwards;
  -o-animation: landingSVGTransition 1s linear forwards;
  -mox-animation: landingSVGTransition 1s linear forwards;
  animation: landingSVGTransition 1s linear forwards forwards;
}
.cloudWrapperTransition{
  -webkit-animation: landingSVGTransition 1s linear forwards;
  -o-animation: landingSVGTransition 1s linear forwards;
  -mox-animation: landingSVGTransition 1s linear forwards;
  animation: landingSVGTransition 1s linear forwards forwards;
}

@-webkit-keyframes landingTransitionLeft{
  0% {
    left: 0px;
  }
  100%{
    left: calc(-52vw);
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes landingTransitionRight{
  0% {
    right: 0px;
  }
  100%{
    right: calc(-52vw);
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes landingSVGTransition{
  0% {
    opacity: 1;
  }
  100%{
    top: calc(-100vw);
    opacity: 0;
    display: none;
  }
}


.cloudSVG1{
  height: 7vh;
  width: 12vw;
  top: 20%;
}
.cloudSVG2{
  height: 8vh;
  width: 10vw;
  top: 10%;
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
}
.cloudSVG3{
  height: 6vh;
  width: 11vw;
  top: 5%;
  -webkit-animation-delay: -28s;
  animation-delay: -28s;
}
.cloudSVG4{
  height: 5vh;
  width: 12.5vw;
  top: 20%;
  -webkit-animation-delay: -33s;
  animation-delay: -33s;
}

@-webkit-keyframes moveAcross{
  0% {
    left: calc(-10vw);
  }
  100%{
    left: calc(110vw);
  }
}







}

  @keyframes example {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 25vh);}
  }


  @media only screen and (min-width: 200px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 50vh;
      z-index: 3;
      animation-name: example400;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      margin-top: 10vw;
      margin-right: 10vw;
      height: 100vh;
      left: 0px;
    }
    .professionalSVG{
      margin-top: 10vw;
      margin-left: 10vw;
      height: 30vh;
      right: 0px;
    }
  }
  @media only screen and (min-width: 400px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 60vh;
      z-index: 3;
      animation-name: example400;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      margin-top: 10vw;
      margin-right: 10vw;
      cursor: pointer;
      height: 30vh;
      left: 0px;
    }
    .professionalSVG{
      margin-top: 10vw;
      margin-left: 10vw;
      height: 30vh;
      right: 0px;
    }
  }
  @media only screen and (min-width: 600px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 70vh;
      z-index: 3;
      animation-name: example600;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      margin-top: 10vw;
      margin-right: 10vw;
      cursor: pointer;
      height: 30vh;
      left: 0px;
    }
    .professionalSVG{
      margin-top: 10vw;
      margin-left: 10vw;
      height: 30vh;
      right: 0px;
    }
  }
  @media only screen and (min-width: 800px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 70vh;
      z-index: 3;
      animation-name: example800;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      margin-top: 10vw;
      margin-right: 10vw;
      cursor: pointer;
      height: 35vh;
      left: 0px;
    }
    .professionalSVG{
      margin-top: 10vw;
      margin-left: 10vw;
      height: 35vh;
      right: 0px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 55vw;
      z-index: 3;
      animation-name: example1200;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      height: 50vh;
      left: 0px;
      cursor: pointer;
    }
    .professionalSVG{
      height: 50vh;
      right: 0px;
    }

  }
  @media only screen and (min-width: 1600px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 95vh;
      z-index: 3;
      animation-name: example1600;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      height: 50vh;
      left: 0px;
      cursor: pointer;
    }
    .professionalSVG{
      height: 50vh;
      right: 0px;
    }

  }

  @keyframes example400 {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 20vh);}
  }
  @keyframes example600 {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 20vh);}
  }

  @keyframes example800 {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 20vh);}
  }

  @keyframes example1200 {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 20vh);}
  }

  @keyframes example1600 {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 20vh);}
  }


  .professionalPage{
    position: absolute;
    height: 300vh;
    width: 100vw;
    background-color: black;
    height: auto !important;
  }

  .professionalPageTransition{
    opacity: 0;
    -webkit-animation: fadeIn 1s linear forwards;
    -o-animation: fadeIn 1s linear forwards;
    -mox-animation: fadeIn 1s linear forwards;
    animation: fadeIn 1s linear forwards forwards;
    animation-delay: 1s;
  }

  @-webkit-keyframes fadeIn{
    0% {opacity: 0;}
    100%{opacity: 1;}
  }

.section{
  width: 100vw;
  height: 100vh;
  h1{
    font-size: 50px;
  }
}

.section1{
  background: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.19)), url(https://i.imgur.com/C7wpT4M.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .headerWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    .nameWrapper{
      h1 {
        font-size: 8em;
        color: white;
        font-family: 'Shadows Into Light', cursive;
        -webkit-animation: fade 2s ease-out forwards;
      }
    }
    .socialWrapper{
      .fa {
        margin-left: 10px;
        margin-right: 10px;
        color: white;
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}
.section2{
  h1, h2{
    width: 100%;
    text-align: center;
    color: white;
  }
  .portfolio{
    width: 25vw;
    height: 100vh;
    cursor: pointer;
    .header{
      width: 100%;
    }
  }
  .portfolio1{
    background: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.19)), url(https://i.imgur.com/75qGdga.jpg) no-repeat center center fixed;
    background-size: 100vw;
    &:hover{
      -webkit-animation: portfolioFade .5s linear forwards;
      -o-animation: portfolioFade .5s linear forwards;
      -mox-animation: portfolioFade .5s linear forwards;
      animation: portfolioFade .5s linear forwards;
    }
  }
  .portfolio2{
    background: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.19)), url(https://i.imgur.com/ZXWieu2.jpg) no-repeat center center fixed;
  }
  .portfolio3{
    background: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.19)), url(https://i.imgur.com/Jk7sGYq.jpg) no-repeat center center fixed;
  }
  .portfolio4{
    background: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.19)), url(https://i.imgur.com/kF8hlih.jpg) no-repeat center center fixed;
  }
}
.section3{
  background: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.19)), url(https://i.imgur.com/tJKX9Ph.jpg) no-repeat center center fixed;
}

@-webkit-keyframes portfolioFade{
  0% {background-size: 100vw;}
  100%{background-size: 105vw;}
}
