.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.flexx{
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingBody{
  width: 100%;
  height: 100vh;
  margin: 0;
  border: 0;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: hidden;

  .professionalDiv{
    position: absolute;
    height: 100vh;
    width: 50%;
    left: 0px;
    z-index: 2;
    background-color: #29B6F6;
    cursor: pointer;

    &:hover{
      background-color: #4FC3F7;
    }
  }
  .personalDiv{
    position: absolute;
    height: 100vh;
    width: 50%;
    right: 0px;
    z-index: 2;
    background-color: #29B6F6;
    cursor: pointer;

    &:hover{
      background-color: #4FC3F7;
    }
  }


.cloud{
  position: absolute;
  left: 0px;
  -webkit-animation: moveAcross 40s linear forwards;
  -o-animation: moveAcross 40s linear forwards;
  -mox-animation: moveAcross 40s linear forwards;
  animation: moveAcross 40s linear forwards infinite;
  z-index: 3;
}

.cloudSVG1{
  height: 7vh;
  width: 12vw;
  top: 20%;
}
.cloudSVG2{
  height: 7.5vh;
  width: 11.5vw;
  top: 10%;
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
}
.cloudSVG3{
  height: 6.5vh;
  width: 12.5vw;
  top: 5%;
  -webkit-animation-delay: -28s;
  animation-delay: -28s;
}
.cloudSVG4{
  height: 6vh;
  width: 12.5vw;
  top: 20%;
  -webkit-animation-delay: -33s;
  animation-delay: -33s;
}

@-webkit-keyframes moveAcross{
  0% {
    left: calc(-10vw);
  }
  100%{
    left: calc(110vw);
  }
}







}

  @keyframes example {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 25vh);}
  }


  @media only screen and (min-width: 200px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 50vh;
      z-index: 3;
      animation-name: example400;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      margin-top: 10vw;
      margin-right: 10vw;
      height: 100vh;
      left: 0px;
    }
    .professionalSVG{
      margin-top: 10vw;
      margin-left: 10vw;
      height: 30vh;
      right: 0px;
    }
  }
  @media only screen and (min-width: 400px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 60vh;
      z-index: 3;
      animation-name: example400;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      margin-top: 10vw;
      margin-right: 10vw;
      cursor: pointer;
      height: 30vh;
      left: 0px;
    }
    .professionalSVG{
      margin-top: 10vw;
      margin-left: 10vw;
      height: 30vh;
      right: 0px;
    }
  }
  @media only screen and (min-width: 600px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 70vh;
      z-index: 3;
      animation-name: example600;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      margin-top: 10vw;
      margin-right: 10vw;
      cursor: pointer;
      height: 30vh;
      left: 0px;
    }
    .professionalSVG{
      margin-top: 10vw;
      margin-left: 10vw;
      height: 30vh;
      right: 0px;
    }
  }
  @media only screen and (min-width: 800px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 70vh;
      z-index: 3;
      animation-name: example800;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      margin-top: 10vw;
      margin-right: 10vw;
      cursor: pointer;
      height: 35vh;
      left: 0px;
    }
    .professionalSVG{
      margin-top: 10vw;
      margin-left: 10vw;
      height: 35vh;
      right: 0px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 55vw;
      z-index: 3;
      animation-name: example1200;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      height: 50vh;
      left: 0px;
      cursor: pointer;
    }
    .professionalSVG{
      height: 50vh;
      right: 0px;
    }

  }
  @media only screen and (min-width: 1600px) {
    .landingSVG{
      position: absolute;
      top: 0px;
      height: 95vh;
      z-index: 3;
      animation-name: example1600;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.35, 2.0);
      animation-fill-mode: forwards;
    }
    .personalSVG{
      height: 50vh;
      left: 0px;
      cursor: pointer;
    }
    .professionalSVG{
      height: 50vh;
      right: 0px;
    }

  }

  @keyframes example400 {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 20vh);}
  }
  @keyframes example600 {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 20vh);}
  }

  @keyframes example800 {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 20vh);}
  }

  @keyframes example1200 {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 20vh);}
  }

  @keyframes example1600 {
    from {top: calc(0px - 100vh);}
    to {top: calc(0px - 20vh);}
  }
