
.onOffWrapper{
  overflow: hidden;
}
.socialSVG{
  height: 60px;
  padding-left: 12px;
  padding-right: 12px;
}
.headetextonoff{
  display: flex;
  align-items: center;
  justify-content: center;
}
.onpush{
  margin-top: 5px;
}

.onOffWrapper .on{
  display: none;
}

.onOffWrapper:hover .on{
  display: block;
  margin-bottom: 4px;
}
.onOffWrapper:hover .off{
  display: none;
}
.headertext{
  height: 55px !important;
  width: 100%;
  cursor: pointer !important;
}
.picstext{
  height: 55px !important;
  width: 66%;
  cursor: pointer !important;
}

.moretext{
  height: 55px !important;
  width: 90% !important;
  cursor: pointer !important;
}






.portfolioPage{
  animation: fadeIn 2s ease forwards;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  .fa{
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    color: black;
    z-index: 3
  }
  .p{
    position: relative;
    width: 50%;
    height: 50vh;
  }
  .p1{
    background-color: red;
  }
  .p2{
    background-color: purple;
  }
  .p3{
    background-color: blue;
  }
  .p4{
    background-color: pink;
  }
  .p5{
    background-color: teal;
  }
  .p6{
    background-color: yellow;
  }
  .p7{
    background-color: green;
  }
  .p8{
    background-color: brown;
  }
}
